.appLayout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &-container {
        display: flex;
        flex: 1;
        max-width: 1024px;
        width: 100%;
        height: auto;
    }

}